<table mat-table [dataSource]="dataSource">

  <!-- Position Column -->
  <ng-container matColumnDef="bienSoXe">
    <th mat-header-cell *matHeaderCellDef> Biển Số Xe </th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleCode}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="vao">
    <th mat-header-cell *matHeaderCellDef> Thời Gian Vào </th>
    <td mat-cell *matCellDef="let element">
      {{element.timeIn | date: 'dd/MM/YYYY h:mm:ss a'}}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="ra">
    <th mat-header-cell *matHeaderCellDef> Thời Gian Ra </th>
    <td mat-cell *matCellDef="let element">
     {{element.timeOut | date: 'dd/MM/YYYY h:mm:ss a'}}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tongThoiGianGui">
    <th mat-header-cell *matHeaderCellDef> Thời Gian Gửi (Phút) </th>
    <td mat-cell *matCellDef="let element"> {{element.timeDuration}} </td>
  </ng-container>


  <ng-container matColumnDef="tongTien">
    <th mat-header-cell *matHeaderCellDef> Tổng Tiền </th>
    <td mat-cell *matCellDef="let element"> {{element.fee}} </td>
  </ng-container>

  <ng-container matColumnDef="thoiGianThanhToan">
    <th mat-header-cell *matHeaderCellDef> Thanh Toán Lúc </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentAt | date: 'dd/MM/YYYY h:mm:ss a'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
